<div class="flex flex-col gap-2 mx-4">
  <div class="titulo-pantalla">
    <h1>{{ 'AN-CU2.titulo' | translate }}</h1>
  </div>
  <emeth-alerts></emeth-alerts>
  <emeth-gen-card titulo="AN-CU2.formularios_contestados">
    <emeth-wrapper-table [dataSource]="dataSource" [emethColumnsDef]="columnsDef">
      <ng-container matColumnDef="acciones">
        <mat-header-cell *matHeaderCellDef class="justify-center">
          {{ 'etiquetas.acciones' | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="justify-center">
          <button
            (click)="editarFormulario(row.id)"
            mat-icon-button
            color="primary"
            [matTooltip]="'AN-CU2.editar_registro' | translate">
            <mat-icon>edit</mat-icon>
          </button>
          <button
            (click)="eliminarRegistro(row.id)"
            mat-icon-button
            color="primary"
            [matTooltip]="'AN-CU2.eliminar_registro' | translate">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
    </emeth-wrapper-table>
  </emeth-gen-card>
  <div class="flex justify-center">
    <button
      (click)="regresar()"
      mat-flat-button
      color="primary"
      class="boton-accion">
      {{ 'etiquetas.regresar' | translate }}
    </button>
  </div>
  <emeth-actions-card>
    <emeth-action-item matIcon="edit">{{ 'AN-CU2.editar_registro' | translate }}</emeth-action-item>
    <emeth-action-item matIcon="delete">{{ 'AN-CU2.eliminar_registro' | translate }}</emeth-action-item>
  </emeth-actions-card>
</div>
