<div class="flex gap-4 items-center justify-center h-screen">
  <button
    (click)="irAnunciateNosotros()"
    mat-flat-button
    color="primary"
    class="text-xl">
    <div class="p-5">
      {{ 'home.anunciate' | translate }}
    </div>
  </button>
  <button
    mat-flat-button
    color="primary"
    class="text-xl">
    <div class="p-5">
      {{ 'home.iniciar_proyecto_legal' | translate }}
    </div>
  </button>
</div>
