<div class="flex flex-col gap-2 mx-4">
  <div class="titulo-pantalla">
    <h1>{{ 'AN-CU4.titulo' | translate }}</h1>
  </div>
  <emeth-gen-card titulo="AN-CU4.formulario_anunciate">
    <div [formGroup]="form" class="flex flex-col gap-2">
      <!-- Nombre -->
      <div class="flex gap-4">
        <div class="w-[40%] text-right">
          <label class="font-medium">
            <span class="text-orange-500">* </span>
            <span>{{ 'AN-CU4.nombre' | translate}}:</span>
          </label>
        </div>
        <div class="w-[35%]">
          <input formControlName="nombre" class="input input-primary input-sm w-full">
          <emeth-form-alert *ngIf="form.controls.nombre.touched && form.controls.nombre.hasError('notBlank')"
                            type="error">
            {{ 'mensajes.campo_obligatorio' | translate }}
          </emeth-form-alert>
        </div>
      </div>
      <!-- Nombre de la empresa -->
      <div class="flex gap-4">
        <div class="w-[40%] text-right">
          <label class="font-medium">
            <span class="text-orange-500">* </span>
            <span>{{ 'AN-CU4.nombre_empresa' | translate}}:</span>
          </label>
        </div>
        <div class="w-[35%]">
          <input formControlName="nombreEmpresa" class="input input-primary input-sm w-full">
          <emeth-form-alert
            *ngIf="form.controls.nombreEmpresa.touched && form.controls.nombreEmpresa.hasError('notBlank')"
            type="error">
            {{ 'mensajes.campo_obligatorio' | translate }}
          </emeth-form-alert>
        </div>
      </div>
      <!-- Email -->
      <div class="flex gap-4">
        <div class="w-[40%] text-right">
          <label class="font-medium">
            <span class="text-orange-500">* </span>
            <span>{{ 'AN-CU4.email' | translate}}:</span>
          </label>
        </div>
        <div class="w-[35%]">
          <input formControlName="email" class="input input-primary input-sm w-full">
          <emeth-form-alert *ngIf="form.controls.email.touched && form.controls.email.hasError('notBlank')"
                            type="error">
            {{ 'mensajes.campo_obligatorio' | translate }}
          </emeth-form-alert>
        </div>
      </div>
      <!-- Teléfono -->
      <div class="flex gap-4">
        <div class="w-[40%] text-right">
          <label class="font-medium">
            <span class="text-orange-500">* </span>
            <span>{{ 'AN-CU4.telefono' | translate}}:</span>
          </label>
        </div>
        <div class="w-[35%]">
          <input formControlName="telefono" class="input input-primary input-sm w-full">
          <emeth-form-alert *ngIf="form.controls.telefono.touched && form.controls.telefono.hasError('notBlank')"
                            type="error">
            {{ 'mensajes.campo_obligatorio' | translate }}
          </emeth-form-alert>
        </div>
      </div>
      <!-- Categoría del negocio -->
      <div class="flex gap-4">
        <div class="w-[40%] text-right">
          <label class="font-medium">
            <span class="text-orange-500">* </span>
            <span>{{ 'AN-CU4.categoria_negocio' | translate}}:</span>
          </label>
        </div>
        <div class="w-[35%]">
          <select formControlName="categoriaNegocio" class="select select-primary select-sm w-full">
            <option disabled hidden selected value="">{{ 'etiquetas.seleccionar' | translate }}</option>
          </select>
          <emeth-form-alert
            *ngIf="form.controls.categoriaNegocio.touched && form.controls.categoriaNegocio.hasError('required')"
            type="error">
            {{ 'mensajes.campo_obligatorio' | translate }}
          </emeth-form-alert>
        </div>
      </div>
      <!-- Entidad federativa -->
      <div class="flex gap-4">
        <div class="w-[40%] text-right">
          <label class="font-medium">
            <span class="text-orange-500">* </span>
            <span>{{ 'AN-CU4.entidad_federativa' | translate}}:</span>
          </label>
        </div>
        <div class="w-[35%]">
          <select formControlName="entidadFederativa" class="select select-primary select-sm w-full">
            <option disabled hidden selected value="">{{ 'etiquetas.seleccionar' | translate }}</option>
          </select>
          <emeth-form-alert
            *ngIf="form.controls.entidadFederativa.touched && form.controls.entidadFederativa.hasError('required')"
            type="error">
            {{ 'mensajes.campo_obligatorio' | translate }}
          </emeth-form-alert>
        </div>
      </div>
      <!-- Idiomas hablados -->
      <div class="flex gap-4">
        <div class="w-[40%] text-right">
          <label class="font-medium">
            <span class="text-orange-500">* </span>
            <span>{{ 'AN-CU4.idiomas_hablados' | translate}}:</span>
          </label>
        </div>
        <div class="w-[35%]">
          <div class="flex flex-col">
            <mat-checkbox *ngFor="let idioma of catIdiomas"
                          (change)="idiomaChange(idioma.id, $event.checked)">
              {{ idioma.nombre }}
            </mat-checkbox>
          </div>
          <emeth-form-alert *ngIf="form.controls.idiomasHablados.touched && idiomasSelection.selected.length === 0" type="error">
            {{ 'mensajes.campo_obligatorio' | translate }}
          </emeth-form-alert>
        </div>
      </div>
      <!-- Acerca de la empresa -->
      <div class="flex gap-4">
        <div class="w-[40%] text-right">
          <label class="font-medium">
            <span class="text-orange-500">* </span>
            <span>{{ 'AN-CU4.acerca_empresa' | translate}}:</span>
          </label>
        </div>
        <div class="w-[35%]">
          <textarea formControlName="acercaEmpresa" class="textarea textarea-primary w-full"></textarea>
          <emeth-form-alert
            *ngIf="form.controls.acercaEmpresa.touched && form.controls.acercaEmpresa.hasError('notBlank')"
            type="error">
            {{ 'mensajes.campo_obligatorio' | translate }}
          </emeth-form-alert>
        </div>
      </div>
    </div>
  </emeth-gen-card>
  <div class="flex justify-center gap-2">
    <button
    mat-flat-button
    color="primary"
    class="boton-accion">
      {{ 'etiquetas.aceptar' | translate }}
    </button>
    <button
    mat-flat-button
    color="accent"
    class="boton-accion">
      {{ 'etiquetas.cancelar' | translate }}
    </button>
  </div>
</div>
